body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }

  form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
  }

  .poto {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #673ab7;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover{
    background-color: #9b6af0;
  }

